@page "/account/resetpassword"
@using Framework.User.Service.Contract.Interfaces
@using Framework.User.Service.Contract.Models
@inject IFrameworkUserService _frameworkUserService;

<h3>ResetPassword</h3>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <MudTextField InputType="@InputType.Password" Label="Password" @bind-Value="model.NewPassword" For="@(() => model.NewPassword)"/>
    <MudTextField InputType="@InputType.Password" Label="Confirm password" @bind-Value="model.NewPasswordConfirm" For="@(() => model.NewPasswordConfirm)"/>
    <MudButton  ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Reset</MudButton>
</EditForm>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "email")]
    public string Email { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string Token { get; set; }

    ResetPasswordFormViewModel model = new ResetPasswordFormViewModel();

    private async Task OnValidSubmit(EditContext context)
    {
        model.Token = Token;
        model.Email = Email;
        await _frameworkUserService.ResetPassword(model);
    }
}
