@page "/mailtemplates/update/{id}"
@using Framework.User.Service.Contract.Models
@inject IMailTemplateService _mailTemplateService

<h3>Create new version</h3>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>

    <MudTextField Label="Permanent name" @bind-Value="model.PermName" For="@(() => model.PermName)" Disabled="true"/>
        
    <MudSelect T="string" Label="Culture" @bind-Value="model.Culture" AnchorOrigin="Origin.BottomCenter" Disabled="true">
        <MudSelectItem Value="@("En")" />
        <MudSelectItem Value="@("Ru")" />
    </MudSelect>

    <MudTextField Label="Title" @bind-Value="model.Title" For="@(() => model.Title)"/>
    <MudTextField T="string" @bind-Value="model.Text" Label="Text" Variant="Variant.Text" Lines="20" />

    <MudCardActions>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
    </MudCardActions>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    long _id;
    MailTemplateFormViewModel model = new MailTemplateFormViewModel();
    bool success;

    protected override async Task OnInitializedAsync()
    {
        _id = long.Parse(Id);
        model = await _mailTemplateService.GetOne<MailTemplateFormViewModel>(_id);
    }

    private async Task OnValidSubmit(EditContext context)
    {
        //await _mailTemplateService.Update(_id, model);

        success = true;
        StateHasChanged();
    }
}
