@using SavaDev.Base.Data.Models;
@using SavaDev.Base.Data.Registry;
@using SavaDev.Base.Data.Registry.Enums;
@using SavaDev.Base.Front.Registry
@using SavaDev.Scheme.Data.Contract.Enums;
@using SavaDev.Scheme.Front.Contract.Models;
@using SavaDev.Scheme.Front.Contract;
@using SavaDev.UI.Blazorstrap.Models
@typeparam T where T: BaseRegistryItemViewModel
@inject IRegistryViewService tableService
@inject IColumnViewService columnService

<p>Registry Guid @Model?.Id</p>
<p>SelectedRegistryConfigId @SelectedRegistryConfigId</p>
<p>SelectedFilterId @SelectedFilterId</p>
<p>ItemsOnPage @ItemsOnPage</p>

<BSAccordion>
    <BSAccordionItem DefaultShown="true">
        <Header>Filter</Header>
        <Content>
            <div class="row">
                <div class="col-md-6">
                    <BSInput InputType="InputType.Text" @bind-Value="FilterIdsString" />
                </div>
                <div class="col-md-2">
                    <div Class="@BS.Form_Check @BS.Form_Switch">
                        <BSInputCheckbox @onchange="@(c=>OnDeletedCheckedChanged(c))" @bind-Value="showDeleted" CheckedValue=@(true) />
                        <BSLabel IsCheckLabel="true">Show deleted</BSLabel>
                    </div>
                </div>
                <div class="col-md-4">
                    <FilterSelector 
                        Filters="Model?.Filters" 
                        SelectedFilter="Model?.SelectedFilter"
                        OnSelectFilter="@(async (o, e) => OnFilterSelectedHandler(e))"
                        OnSaveFilterClick="OnSaveFilterClick"
                        OnRemoveFilterClick="@(async (o, e)=> await OnRemoveFilterClickHandler())"/>
                </div>
            </div>
            @Filter
            <div class="row">

                <div class="col-md-2">
                    <BSButton Color="BSColor.Secondary" OnClick="@OnFilterClick">Filter</BSButton>                
                </div>
            </div>
        </Content>
    </BSAccordionItem>
</BSAccordion>

<div class="row">
    <div class="col-md-4">
        <BSButtonGroup>            
            <BSLink href="@CreateLink" IsButton="true" Color="BSColor.Primary">Add</BSLink>
            <BSDropdown>
                <Toggler><BSToggle Class="btn btn-secondary">Actions</BSToggle></Toggler>
                <Content>
                    @BatchActions
                </Content>
            </BSDropdown>
        </BSButtonGroup>
    </div>
    <div class="col-md-4">
        <BSInputGroup MarginBottom="Margins.Medium">
            <RegistryViewModeSelector OnChange="async(o,e) => await OnRegistryViewChange(e)" />
            <ItemsOnPageSelector OnSelectItemsOnPage="async(o,e) => await OnItemsOnPageSelected(e)" />
            <AvailableColumnsSelector
                AvailableColumns="Model?.AvailableColumns"
                OnColumnSelect="async(o,e) => await OnAddColumnSelectedHandler(e)" />
        </BSInputGroup>
    </div>
    <div class="col-md-4">
    <RegistryConfigSelector @ref="@columnConfigSelector"
        Configs="Model?.Configs"
        SelectedConfig="Model?.SelectedConfig"
        OnSelectConfig="@(async (o, e) => OnRegistryConfigSelectedHandler(e))"
        OnSaveConfigClick="@(async(o,e) => await OnSaveConfigClickHandler())"
        OnRemoveConfigClick="@(async (o, e)=> await OnRemoveConfigClickHandler())" />
    </div>
</div>

@if(ViewMode == RegistryViewMode.Table)
{
    <RegTableView T="T" 
        DisplayedColumns="DisplayedColumns"
        StartPage="StartPage"
        FetchItems="FetchItems"
        OnRemoveColumnClick="@(async(o,e) => OnRemoveColumnClickHandler(e))"
        Context="item">
        <Actions>
            @Actions(item)
        </Actions>
        </RegTableView>
}
else if(ViewMode == RegistryViewMode.Grid)
{
    <RegGridView>

    </RegGridView>
}
else if(ViewMode == RegistryViewMode.List)
{
    <RegListView>

    </RegListView>
}
else
{
    <RegDetailView>

    </RegDetailView>
}

@code {
    string FilterIdsString;

    #region Parameters

    [Parameter]
    public RegistryPageViewModel<T>? Page { get; set; }
    [Parameter]
    public ModelPlacement ModelPlacement { get; set; }
    [Parameter]
    public Func<DataRequest, Task<(IEnumerable<T>, int)>> FetchItems { get; set; }
    [Parameter]
    public string CreateLink { get; set; }
    [Parameter]
    public RenderFragment? Filter { get; set; }
    [Parameter]
    public RenderFragment<T>? Actions { get; set; }
    [Parameter]
    public RenderFragment? BatchActions { get; set; }
    [Parameter]
    public EventHandler<bool> ShowDeleted { get; set; }
    [Parameter]
    public EventHandler<FilterViewModel>? OnSaveFilterClick { get; set; }

    #endregion

    public RegistryViewModel Model { get; set; }
    public RegistryConfigViewModel SelectedRegistryConfig { get; set; }

    public RegistryPageInfo PageInfo = new RegistryPageInfo { PageNumber = 1, RowsCount = 20 };
    public RegistrySort Sort = new RegistrySort("Id", SortDirection.Desc);

    public string FilterFormName { get; set; }
    public bool FilterFormForAll { get; set; }

    public async Task Refresh()
    {
        await table?.Refresh();
    }

    #region Ref

    private BSDataTable<T>? table;
    private RegistryConfigSelector? columnConfigSelector;

    #endregion

    #region State

    private RegistryViewMode ViewMode;
    private int StartPage = 1;
    private int ItemsOnPage = 20;
    private bool showDeleted = false;

    private List<ColumnViewModel> DisplayedColumns = new List<ColumnViewModel>();
    private List<ColumnViewModel> AvailableColumns = new List<ColumnViewModel>();

    private long? SelectedRegistryConfigId = 0;
    private long? SelectedFilterId = 0;

    #endregion

    #region Lifecycle

    protected override async Task OnInitializedAsync()
    {
        Model = await tableService.GetOne(ModelPlacement);
        DisplayedColumns = Model.DisplayedColumns;
        AvailableColumns = Model.AvailableColumns;
        SelectedRegistryConfigId = Model?.SelectedConfig?.Id;
        SelectedFilterId = Model?.SelectedFilter?.Id;
    }

    #endregion

    #region Handlers Config

    private async Task OnAddColumnSelectedHandler(Guid? e)
    {
        if (e == null) return;
        var col = AvailableColumns.FirstOrDefault(m => m.Id == e);
        Model.AvailableColumns.Remove(col);
        Model.DisplayedColumns.Add(col);
        StateHasChanged();
    }

    public void OnRemoveColumnClickHandler(ColumnViewModel col)
    {
        if (col == null) return;
        Model.AvailableColumns.Add(col);
        Model.DisplayedColumns.Remove(col);
        StateHasChanged();
    }

    private async Task OnRegistryConfigSelectedHandler(ChangeEventArgs e)
    {
        SelectedRegistryConfigId = int.Parse(e.Value.ToString());
        if (SelectedRegistryConfigId == 0) 
        {
            StateHasChanged();
            return;
        }
        await tableService.ApplyConfig((long)SelectedRegistryConfigId, Model);
        StateHasChanged();
    }

    private async Task OnSaveConfigClickHandler()
    {
        var model = new RegistryConfigViewModel()
        {
            Id = SelectedRegistryConfigId ?? 0,
            ColumnIds = Model.DisplayedColumns.Select(m => m.Id).ToList(),
            TableId = Model.Id,
            Name = columnConfigSelector?.ConfigFormName,
            ForAll = columnConfigSelector.ConfigFormForAll

        };
        var result = await tableService.SaveConfig(model);
    }

    private async Task OnRemoveConfigClickHandler()
    {
        if (SelectedRegistryConfigId == 0) return;
        await tableService.RemoveConfig((long)SelectedRegistryConfigId);
        var config = Model.Configs.FirstOrDefault(m => m.Id == SelectedRegistryConfigId);
        if (config != null) Model.Configs.Remove(config);
    }

    #endregion

    #region Handlers Filter

    private async Task OnFilterSelectedHandler(ChangeEventArgs e)
    {
        SelectedFilterId = int.Parse(e.Value.ToString());
        if (SelectedFilterId == 0)
        {
            StateHasChanged();
            return;
        }
        await tableService.ApplyFilter((long)SelectedFilterId, Model);
        StateHasChanged();
    }

    private async Task OnSaveFilterClickHandler(FilterViewModel e)
    {
        OnSaveFilterClick.Invoke(this, e);
    }

    private async Task OnRemoveFilterClickHandler()
    {
        if (SelectedFilterId == 0) return;
        await tableService.RemoveFilter((long)SelectedFilterId);
        var filter = Model.Filters.FirstOrDefault(m => m.Id == SelectedFilterId);
        if (filter != null) Model.Filters.Remove(filter);
    }


    protected async Task OnFilterClick()
    {
        table?.Refresh();
    }

    protected async Task OnRegistryViewChange(ChangeEventArgs e)
    {
        ViewMode = (RegistryViewMode)(e?.Value);
        StateHasChanged();
    }

    protected async Task OnItemsOnPageSelected(ChangeEventArgs e)
    {
        ItemsOnPage = int.Parse(e.Value.ToString());
        StateHasChanged();
    }

    #endregion

    private async Task OnDeletedCheckedChanged(ChangeEventArgs args)
    {
        ShowDeleted.Invoke(this, showDeleted);
        //showDeleted = (bool)args.Value;
        //await table.Refresh();
    }


}
