@using SavaDev.Base.Data.Models;
@using SavaDev.Base.Data.Registry;
@using SavaDev.Base.Data.Registry.Enums;
@using SavaDev.Base.Front.Registry
@using SavaDev.Scheme.Front.Contract.Models;
@using SavaDev.Scheme.Front.Contract;
@using SavaDev.UI.Blazorstrap.Models
@typeparam T where T: BaseRegistryItemViewModel
@inject ITableViewService tableService
@inject IColumnViewService columnService

<p>Table Guid @TableModel?.Id</p>
<p>SelectedColumnConfigId @SelectedColumnConfigId</p>
<p>SelectedFilterId @SelectedFilterId</p>

<BSAccordion>
    <BSAccordionItem DefaultShown="true">
        <Header>Filter</Header>
        <Content>
            <FilterSelector 
                Filters="TableModel?.Filters" 
                SelectedFilter="TableModel?.SelectedFilter"
                OnSelectFilter="@(async (o, e) => OnFilterSelected(e))"
                OnSaveFilter="OnSaveFilter"
                OnRemoveFilter="@(async (o, e)=> await OnClickRemoveFilter())"/>

            @Filter

            <div class="row">
                <div class="col-md-2">
                    <div Class="@BS.Form_Check @BS.Form_Switch">
                        <BSInputCheckbox @onchange="@(c=>OnDeletedCheckedChanged(c))" @bind-Value="showDeleted" CheckedValue=@(true) />
                        <BSLabel IsCheckLabel="true">Show deleted</BSLabel>
                    </div>
                </div>
                <div class="col-md-2">
                    <BSButton Color="BSColor.Primary" OnClick="@OnFilterClick">Filter</BSButton>                
                </div>
            </div>
        </Content>
    </BSAccordionItem>
</BSAccordion>

<div class="row">
    <div class="col-md-2">
        <BSButtonGroup>
            <BSDropdown>
                <Toggler><BSToggle Class="btn btn-secondary">Actions</BSToggle></Toggler>
                <Content>
                    @BatchActions
                </Content>
            </BSDropdown>
            <BSLink href="@CreateLink" IsButton="true" Color="BSColor.Primary">Add</BSLink>

        </BSButtonGroup>
    </div>
    <div class="col-md-2">
        <ItemsOnPageSelector/>
    </div>
    <div class="col-md-2">
        <RegistryViewSelector/>
    </div>
    <div class="col-md-2">
        @if (AvailableColumns != null && AvailableColumns.Any())
        {
            <BSDropdown>
                <Toggler><BSToggle IsButton="true" Color="BSColor.Secondary">Show columns</BSToggle></Toggler>
                <Content>
                    @foreach (var col in AvailableColumns)
                    {
                        <BSDropdownItem OnClick="@(() => OnDropdownClick(col))">@col.Name</BSDropdownItem>
                    }
                </Content>
            </BSDropdown>
        }
    </div>
    <ColumnConfigSelector 
        @ref="@columnConfigSelector"
        Configs="TableModel?.ColumnConfigs"
        SelectedConfig="TableModel?.SelectedConfig"
        OnSelectConfig="@(async (o, e) => OnFilterSelected(e))"
        OnSaveConfig="@(async(o,e) => await OnClickSaveColumns())"
        OnRemoveConfig="@(async (o, e)=> await OnClickRemoveFilter())" />
</div>

<BSDataTable FetchItems="InvokeParentMethod" PaginationBottom="true" StartPage="_startPage" RowsPerPage="20" Context="item" @ref=table>
    <Header>
        <BSDataTableHead TValue="T">
            <BSInputCheckbox CheckedValue="@(true)" @onchange="@(c=>HandleAllCheckedChanged(c))" @bind-Value="AllIsSelected" />
        </BSDataTableHead>
            @if(Columns != null && Columns.Any())
            {
                foreach(var col in Columns)
                {
                    <BSDataTableHead 
                        TValue="T" 
                        Sortable="@col.IsSortable"
                        ColumnFilter="@col.HasColumnFilter"
                        Column="@col.Name">
                        @col.Name
                    </BSDataTableHead>
                }
            }            
        <BSDataTableHead TValue="T"></BSDataTableHead>
    </Header>
    <Body>
        <BSDataTableRow>
            <BSTD>
                <div Class="@BS.Form_Check">
                    <BSTD><BSInputCheckbox CheckedValue="@(true)" @onchange="@(c=>HandleCheckedChanged(c, item))" @bind-Value="item.IsSelected" /></BSTD>
                </div>
            </BSTD>
            @if(Columns!=null && Columns.Any())
            {
                foreach(var col in Columns)
                {
                 <BSTD>
                    @(typeof(T).GetProperty(col.Name).GetValue(item))
                </BSTD>
                }
            }
            <BSTD>               
                <BSDropdown>
                    <Toggler><BSToggle Class="btn btn-secondary">Actions</BSToggle></Toggler>
                    <Content>
                        @Actions(item)
                    </Content>
                </BSDropdown>
            </BSTD>
        </BSDataTableRow>
    </Body>
</BSDataTable>

@code {
    

    #region Parameters

    [Parameter]
    public RegistryPageViewModel<T>? Page { get; set; }
    [Parameter]
    public ModelPlacement ModelPlacement { get; set; }
    [Parameter]
    public Func<DataRequest, Task<(IEnumerable<T>, int)>> FetchItems { get; set; }
    [Parameter]
    public string CreateLink { get; set; }
    [Parameter]
    public RenderFragment? Filter { get; set; }
    [Parameter]
    public RenderFragment<T>? Actions { get; set; }
    [Parameter]
    public RenderFragment? BatchActions { get; set; }
    [Parameter]
    public EventHandler<bool> ShowDeleted { get; set; }
    [Parameter]
    public EventHandler OnSaveFilter { get; set; }

    #endregion

    public TableViewModel TableModel { get; set; }
    public ColumnConfigViewModel SelectedColumnConfig { get; set; }

    public RegistryPageInfo PageInfo = new RegistryPageInfo { PageNumber = 1, RowsCount = 20 };
    public RegistrySort Sort = new RegistrySort("Id", SortDirection.Desc);

    public string FilterFormName { get; set; }
    public bool FilterFormForAll { get; set; }

    public async Task Refresh()
    {
        await table?.Refresh();
    }

    #region Ref

    private BSDataTable<T>? table;
    private ColumnConfigSelector? columnConfigSelector;

    #endregion

    #region State

    private int _startPage = 1;
    private bool showDeleted = false;

    private List<long> SelectedIds = new List<long>();
    private bool AllIsSelected;

    private List<ColumnViewModel> Columns = new List<ColumnViewModel>();
    private List<ColumnViewModel> AvailableColumns = new List<ColumnViewModel>();

    private int? SelectedColumnConfigId = 0;
    private int? SelectedFilterId = 0;

    #endregion

    #region Lifecycle

    protected override async Task OnInitializedAsync()
    {
        TableModel = await tableService.GetOne(ModelPlacement);
        Columns = TableModel.DisplayedColumns;
        AvailableColumns = TableModel.AvailableColumns;
    }

    #endregion

    #region Handlers

    private async Task HandleCheckedChanged(ChangeEventArgs args, T sender)
    {
        if (sender.IsSelected) SelectedIds.Add(sender.Id);
        else SelectedIds.Remove(sender.Id);
    }

    private async Task HandleAllCheckedChanged(ChangeEventArgs args)
    {
        foreach (var item in table.Items)
        {
            item.IsSelected = (bool)args.Value == true;

            var selectedIdsContains = SelectedIds.Contains(item.Id);

            if (item.IsSelected)
            {
                if (!selectedIdsContains)
                {
                    SelectedIds.Add(item.Id);
                }
            }
            else
            {
                if (selectedIdsContains)
                {
                    SelectedIds.Remove(item.Id);
                }
            }
        }
    }

    private void OnDropdownClick(ColumnViewModel col)
    {
        AvailableColumns.Remove(col);
        Columns.Add(col);
    }

    private async Task OnClickSaveColumns()
    {
        var model = new ColumnConfigViewModel()
            {
                ColumnIds = Columns.Select(m => m.Id).ToList(),
                TableId = TableModel.Id,
                Name = columnConfigSelector?.ConfigFormName,
                ForAll = columnConfigSelector.ConfigFormForAll

            };
        await tableService.CreateConfig(model);
    }

    private async void OnColumnConfigSelected(ChangeEventArgs e)
    {
        SelectedColumnConfigId = int.Parse(e.Value.ToString());
        if (SelectedColumnConfigId == 0) return;
        await tableService.FillColumns(TableModel, (int)SelectedColumnConfigId);
        Columns = TableModel.DisplayedColumns;
        AvailableColumns = TableModel.AvailableColumns;
        StateHasChanged();
    }

    private async Task OnClickRemoveConfig()
    {
        if (SelectedColumnConfigId == 0) return;
        await tableService.RemoveConfig((long)SelectedColumnConfigId);
        var config = TableModel.ColumnConfigs.FirstOrDefault(m => m.Id == SelectedColumnConfigId);
        if (config != null) TableModel.ColumnConfigs.Remove(config);
    }

    private async void OnFilterSelected(ChangeEventArgs e)
    {
        SelectedFilterId = int.Parse(e.Value.ToString());
        if (SelectedFilterId == 0) return;
    }

    private async Task OnClickSaveFilter(EventArgs e)
    {
        OnSaveFilter.Invoke(this, e);
    }

    private async Task OnClickRemoveFilter()
    {
        if (SelectedFilterId == 0) return;
        await tableService.RemoveFilter((long)SelectedFilterId);
        var filter = TableModel.Filters.FirstOrDefault(m => m.Id == SelectedFilterId);
        if (filter != null) TableModel.Filters.Remove(filter);
    }


    protected async Task OnFilterClick()
    {
        table?.Refresh();
    }

    #endregion

    private async Task<(IEnumerable<T>, int)> InvokeParentMethod(DataRequest dataRequest)
    {
        var task = FetchItems?.Invoke(dataRequest);
        var result = await task;

        return (result.Item1, result.Item2);
    }

    private async Task OnDeletedCheckedChanged(ChangeEventArgs args)
    {
        ShowDeleted.Invoke(this, showDeleted);
        //showDeleted = (bool)args.Value;
        //await table.Refresh();
    }
}
