@using SavaDev.Base.Data.Models;
@using SavaDev.Base.Data.Registry;
@using SavaDev.Base.Data.Registry.Enums;
@using SavaDev.Base.Front.Registry
@using SavaDev.Scheme.Front.Contract.Models;
@using SavaDev.Scheme.Front.Contract;
@using SavaDev.UI.Blazorstrap.Models
@typeparam T where T: BaseRegistryItemViewModel
@inject ITableConfigViewService tableConfigService
@inject IColumnViewService columnService

<div>@Filter</div>

<BSLink href="@CreateLink" IsButton="true" Color="BSColor.Primary">Add</BSLink>

<div Class="@BS.Form_Check @BS.Form_Switch">
    <BSInputCheckbox @onchange="@(c=>OnDeletedCheckedChanged(c))" @bind-Value="showDeleted" CheckedValue=@(true) />
    <BSLabel IsCheckLabel="true">Show deleted</BSLabel>
</div>

@if (AvailableColumns != null && AvailableColumns.Any())
{
    <BSDropdown>
        <Toggler><BSToggle IsButton="true" Color="BSColor.Secondary">Dropdown button</BSToggle></Toggler>
            <Content>
            @foreach (var col in AvailableColumns)
            {
                <BSDropdownItem OnClick="@(() => OnDropdownClick(col))">@col.Name</BSDropdownItem>
            }
        </Content>
    </BSDropdown>
}

<BSDataTable FetchItems="InvokeParentMethod" PaginationBottom="true" StartPage="_startPage" RowsPerPage="20" Context="item" @ref=table>
    <Header>
        <BSDataTableHead TValue="T">
            <BSInputCheckbox CheckedValue="@(true)" @onchange="@(c=>HandleAllCheckedChanged(c))" @bind-Value="AllIsSelected" />
        </BSDataTableHead>
            @if(Columns != null && Columns.Any())
            {
                foreach(var col in Columns)
                {
                    <BSDataTableHead 
                        TValue="T" 
                        Sortable="@col.IsSortable"
                        ColumnFilter="@col.HasColumnFilter"
                        Column="@col.Name">
                        @col.Name
                    </BSDataTableHead>
                }
            }            
        <BSDataTableHead TValue="T"></BSDataTableHead>
    </Header>
    <Body>
        <BSDataTableRow>
            <BSTD>
                <div Class="@BS.Form_Check">
                    <BSTD><BSInputCheckbox CheckedValue="@(true)" @onchange="@(c=>HandleCheckedChanged(c, item))" @bind-Value="item.IsSelected" /></BSTD>
                </div>
            </BSTD>
            @if(Columns!=null && Columns.Any())
            {
                foreach(var col in Columns)
                {
                 <BSTD>
                    @(typeof(T).GetProperty(col.Name).GetValue(item))
                </BSTD>
                }
            }
            <BSTD>               
                <BSDropdown>
                    <Toggler><BSToggle Class="btn btn-secondary">Actions</BSToggle></Toggler>
                    <Content>
                        @Actions(item)
                    </Content>
                </BSDropdown>
            </BSTD>
        </BSDataTableRow>
    </Body>
</BSDataTable>

@code {
    #region Parameters

    [Parameter]
    public RegistryPageViewModel<T>? Page { get; set; }
    [Parameter]
    public ModelPlacement ModelPlacement { get; set; }
    [Parameter]
    public Func<DataRequest, Task<(IEnumerable<T>, int)>> FetchItems { get; set; }
    //[Parameter] // возможно, сделать для ui свой набор моделек. пока берем из либ "фронт"
    //public Func<Task<IEnumerable<ColumnViewModel>>> GetColumns { get; set; }
    [Parameter]
    public string CreateLink { get; set; }
    [Parameter]
    public RenderFragment? Filter { get; set; }
    [Parameter]
    public RenderFragment<T>? Actions { get; set; }
    [Parameter]
    public EventHandler<bool> ShowDeleted { get; set; }

    #endregion

    public RegistryPageInfo PageInfo = new RegistryPageInfo { PageNumber = 1, RowsCount = 20 };
    public RegistrySort Sort = new RegistrySort("Id", SortDirection.Desc);

    public async Task Refresh()
    {
        await table?.Refresh();
    }

    #region Ref

    private BSDataTable<T>? table;

    #endregion

    #region State

    private int _startPage = 1;
    private bool showDeleted = false;

    private List<long> SelectedIds = new List<long>();
    private bool AllIsSelected;

    private List<ColumnViewModel> Columns = new List<ColumnViewModel>();
    private List<ColumnViewModel> AvailableColumns = new List<ColumnViewModel>();

    #endregion

    #region Lifecycle

    protected override async Task OnInitializedAsync()
    {
        // TODO
        // var configs = tableConfigService.GetAll(...);

        //var task = GetColumns?.Invoke();
        //var cols = await task;
        //AvailableColumns = cols.ToList();
        AvailableColumns = await GetColumns();
    }

    #endregion

    #region Handlers

    private async Task HandleCheckedChanged(ChangeEventArgs args, T sender)
    {
        if (sender.IsSelected) SelectedIds.Add(sender.Id);
        else SelectedIds.Remove(sender.Id);
    }

    private async Task HandleAllCheckedChanged(ChangeEventArgs args)
    {
        foreach (var item in table.Items)
        {
            item.IsSelected = (bool)args.Value == true;

            var selectedIdsContains = SelectedIds.Contains(item.Id);

            if (item.IsSelected)
            {
                if (!selectedIdsContains)
                {
                    SelectedIds.Add(item.Id);
                }
            }
            else
            {
                if (selectedIdsContains)
                {
                    SelectedIds.Remove(item.Id);
                }
            }
        }
    }

    private void OnDropdownClick(ColumnViewModel col)
    {
        AvailableColumns.Remove(col);
        Columns.Add(col);
    }

    #endregion

    private async Task<(IEnumerable<T>, int)> InvokeParentMethod(DataRequest dataRequest)
    {
        var task = FetchItems?.Invoke(dataRequest);
        var result = await task;

        return (result.Item1, result.Item2);
    }

    private async Task<List<ColumnViewModel>> GetColumns()
    {
        var cols = await columnService.GetAll(ModelPlacement);
        return cols.ToList();
    }

    private async Task OnDeletedCheckedChanged(ChangeEventArgs args)
    {
        ShowDeleted.Invoke(this, showDeleted);
        //showDeleted = (bool)args.Value;
        //await table.Refresh();
    }
}
